@use "../global" as g;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-position: left center;
  background-size: cover;

  &__title {
    padding: 30px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px g.$color-primay;

    @include g.font-size(30);
    @include g.mq(md) {
      line-height: 1.1;

      @include g.font-size(26);
    }
  }
}
