@use "../../global" as g;

.portfolio {
  &__inner {
  }
  &__heading {
    text-align: center;
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    @include g.font-size(24);
  }
}
